.popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
