.popup__button-save {
  width: calc(100% - 72px);
  min-height: 50px;
  background-color: rgba(0, 0, 0, 1);
  margin: 48px 36px 37px;
  padding: 0;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.popup__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 638px) {
  .popup__button-save {
    width: calc(100% - 44px);
    min-height: 46px;
    font-size: 14px;
    margin: 45px 22px 25px;
  }
}
