.popup__button {
  width: 100%;
  min-height: 50px;
  background-color: rgba(0, 0, 0, 1);
  margin: 4px auto 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 638px) {
  .popup__button {
    min-height: 46px;
    font-size: 14px;
    margin-top: 8px;
  }
}
