.header {
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  font-size: 0;
}

@media screen and (max-width: 638px) {
  .header {
    margin: 28px auto 42px;
    row-gap: 31.6px;
  }
}
