.popup__close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  padding: 0;
  border: 0;
  background-image: url(../../../images/close-icon.svg);
  background-color: transparent;
}

@media screen and (max-width: 638px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-size: cover;
  }
}
