.item__like {
  background-image: url(../../../images/elements/like.svg);
  width: 22px;
  height: 19px;
  fill: none;
  align-self: center;
  transition: opacity 0.2s linear;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.item__like:hover {
  cursor: pointer;
  opacity: 0.5;
}
